force-app/main/default/flows/Annuity_Process_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>faultError_txt</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Something went wrong.  Please try again, or contact your administrator for assistance.</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>faultMessage</name>
        <label>faultMessage</label>
        <locationX>2426</locationX>
        <locationY>600</locationY>
        <customErrorMessages>
            <errorMessage>{!faultError_txt}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Copy_1_of_evaluateAssignments</name>
        <label>Copy 1 of evaluateAssignments</label>
        <locationX>2690</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SalesQueueOwned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annuity_Task_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy_Issue_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dueDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Today__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUserId</targetReference>
            </connector>
            <label>Copy 1 of SalesQueueOwned</label>
        </rules>
        <rules>
            <name>Copy_1_of_Default_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annuity_Task_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy_Issue_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dueDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Today__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUserIdAssign</targetReference>
            </connector>
            <label>Copy 1 of Default_Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>evaluateAssignments</name>
        <label>evaluateAssignments</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>SendtoAlisa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annuity_Task_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy_Issue_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dueDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Today__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUserIdAlisa</targetReference>
            </connector>
            <label>Send to Alisa</label>
        </rules>
    </decisions>
    <decisions>
        <name>expiredAssignments</name>
        <label>expiredAssignments</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>expiredSalesQueueOwned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annuity_Task_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dueDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Today__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>expiredgetUserId</targetReference>
            </connector>
            <label>expiredSalesQueueOwned</label>
        </rules>
        <rules>
            <name>expiredDefault_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annuity_Task_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dueDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Today__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>expiredgetGroupIdAssign</targetReference>
            </connector>
            <label>expiredDefault_Queue</label>
        </rules>
    </decisions>
    <description>Time-Based Workflow to generate tasks for Annuity Renewals</description>
    <environments>Default</environments>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Policy_Issue_Date__c}, -1)</expression>
    </formulas>
    <formulas>
        <name>dueDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(ADDMONTHS({!$Record.Policy_Issue_Date__c}, -1))</expression>
    </formulas>
    <formulas>
        <name>taskSubject_formula</name>
        <dataType>String</dataType>
        <expression>IF( {!dueDate} &gt;TODAY(), &apos;ANNUNITY PROCESS RENEWAL&apos;, &apos;EXPIRED ANNUITY ALERT&apos; )</expression>
    </formulas>
    <interviewLabel>Annuity Process Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Annuity Process Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createFirstTask</name>
        <label>createFirstTask</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>taskID</assignRecordIdToReference>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ANNUITY PROCESS RENEWAL</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AnnuityDate_texttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>dueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>2690</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>taskID</assignRecordIdToReference>
        <connector>
            <targetReference>updateCheckbox</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ANNUITY PROCESS RENEWAL</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AnnualRenew_texttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>dueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>createTaskandAssign</name>
        <label>createTaskandAssign</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>taskID</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updateCheckbox</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ANNUITY PROCESS RENEWAL</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AnnualRenew_texttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>dueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>expiredCreateTask</name>
        <label>expiredCreateTask</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>taskID</assignRecordIdToReference>
        <connector>
            <targetReference>updateCheckbox2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Today__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AnnuityExpired_texttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>expiredCreateTaskandAssign</name>
        <label>expiredCreateTaskandAssign</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>taskID</assignRecordIdToReference>
        <connector>
            <targetReference>updateCheckbox2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Today__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AnnuityExpired_texttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>expiredgetGroupIdAssign</name>
        <label>expiredgetUserIdAssign</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>expiredCreateTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jeff Groves</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>expiredgetUserId</name>
        <label>expiredgetUserId</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>expiredCreateTaskandAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner_Full_Name__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUserId</name>
        <label>getUserId</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTaskandAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner_Full_Name__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUserIdAlisa</name>
        <label>getUserIdAlisa</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createFirstTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alisa Dibble</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUserIdAssign</name>
        <label>getUserIdAssign</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jeff Groves</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateCheckbox</name>
        <label>updateCheckbox</label>
        <locationX>2690</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annuity_Task_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCheckbox2</name>
        <label>updateCheckbox2</label>
        <locationX>578</locationX>
        <locationY>732</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annuity_Task_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>expiredAssignments</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Issue_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Annuity_Task_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>scheduleTask</name>
            <connector>
                <targetReference>evaluateAssignments</targetReference>
            </connector>
            <label>scheduleTask</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Policy_Issue_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7DaysLater</name>
            <connector>
                <targetReference>Copy_1_of_evaluateAssignments</targetReference>
            </connector>
            <label>7DaysLater</label>
            <offsetNumber>-23</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Policy_Issue_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AnnualRenew_texttemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANNUAL REVIEW
The Policy # {!$Record.Policy__c} for {!$Record.FirstName} {!$Record.LastName} is up for renewal!
This Policy is up for renewal.  Administration has sent email AND mailed letter to client to remind them of renewal. Once client receives their annual statement you need to have an appointment scheduled to go over any opportunities!
Add your documentation to the client record and update the Task&apos;s status to &apos;Completed&apos;.
Policy #: {!$Record.Policy__c}
Current Carrier: {!$Record.Carrier__c}
Policy Issue Date: {!$Record.Policy_Issue_Date__c}
Client Phone: {!$Record.Phone}
Email: {!$Record.Email}
Thank you!</text>
    </textTemplates>
    <textTemplates>
        <name>AnnuityDate_texttemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANNUITY PROCESS RENEWAL ALERT
The Policy # {!$Record.Policy__c} for {!$Record.FirstName} {!$Record.LastName} is up for renewal!
Email AND mail renewal reminder letters.  Add your documentation to the client record and update the Task&apos;s status to &apos;Completed&apos;.
Policy #: {!$Record.Policy__c}
Current Carrier: {!$Record.Carrier__c}
Policy Issue Date: {!$Record.Policy_Issue_Date__c}
Client Phone: {!$Record.Phone}
Email: {!$Record.Email}
Thank you!</text>
    </textTemplates>
    <textTemplates>
        <name>AnnuityExpired_texttemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANNUITY PROCESS RENEWAL ALERT
The Policy # {!$Record.Policy__c} for {!$Record.FirstName} {!$Record.LastName} is up for renewal!
Email AND mail renewal reminder letters.  Add your documentation to the client record and update the Task&apos;s status to &apos;Completed&apos;.
Policy #: {!$Record.Policy__c}
Current Carrier: {!$Record.Carrier__c}
Policy Issue Date: {!$Record.Policy_Issue_Date__c}
Client Phone: {!$Record.Phone}
Email: {!$Record.Email}
Thank you!</text>
    </textTemplates>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>defaultQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>defaultQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>relatedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user_groupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
